.first-container{
    background-color:cadetblue;
    animation:gradient-animation 20s ease infinite;
    background-size:180% 180%;
}
.fixed{
    height:150px;
    width:150px;
}
.hi{
    font-family: cursive;
    font-weight: 900;;
    font-style: oblique;
    text-align: center;
    font-size:10cqmax;
}         
.a{
    display:grid;
    grid-template-rows:100px 100px;
    grid-template-columns:300px 300px;
    justify-content:center;
    font-family:cursive;
    font-weight:900;  
}
.button{
    background-color:orange;
    width:100px;
    position:relative;
    left:42%;
    top:100px;
}
.button:hover{
background-color:yellow;
}